p{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px; /* Adiciona um espaço controlado entre a logo e o título */
    padding: 5px; /* Ajusta o padding para que o header ocupe menos espaço vertical */
}


header h2{
    margin:0;
    font-family: "Russo One", serif;
    font-weight: 400;
    font-style: normal;
}

.logo{
    width: 100px;
    height: auto;
    margin: 0;
}

.topico{
    position: relative;
    color: rgb(0, 0, 107);
}

.topico p{
    margin: 0;
    cursor: pointer;
}

.temas {
    display: none;
    position: absolute;
    background-color:rgb(217, 216, 213);
    border-radius: 5px;
    height:180px;
}

.temas a {
    display: block;
    color: rgb(0, 0, 107);
    padding: 5px;
    text-decoration:none;
    margin-top: 10px;
    width: 180px;
}
.temas a:hover {
    color: rgb(104, 104, 104);
}
.topico:hover .temas {
    display: block;
}

h1, h2{
    text-align: center;
    font-family: "Russo One", serif;
    font-weight: 100;
    font-style: normal;
}

img{
    border-radius: 20px;
    width: 400px;
    height: 260px;
    text-align: center;
}

.imagem{
    text-align: center;
}
#formula{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulas{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulaz{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulap{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulay{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulai{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulah{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulau{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulab{
    font-size: 30px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulac{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulad{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulae{
    font-size: 30px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulaf{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulag{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulaj{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulak{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
#formulam{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}#formulan{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}#formulaq{
    font-size: 50px; /* Ajusta o tamanho da fórmula */
    color: #000000; /* Altera a cor da fórmula (neste caso, um tom de laranja) */
}
.content-wrapper {
    display: flex; /* Usamos flexbox para organizar os elementos lado a lado */
    justify-content: space-between; /* Adiciona espaço entre o main e o aside */
    padding: 20px; /* Para adicionar um pouco de espaço ao redor do conteúdo */
}
.caixa {
        display: flex;
        justify-content: center; /* Alinha horizontalmente */
        align-items: center;     /* Alinha verticalmente */
        height: 10vh;           /* Altura da div ocupa toda a altura da janela */
        text-align: center; 
}
.content-wrapper{
    display: flex;
    gap: 20px; /* Espaço entre o main e o aside */
    padding: 20px;
}