*{
    color: rgb(0, 0, 71);
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color:rgb(249, 245, 238)
}

h1{
    color: rgb(0, 0, 71);
    text-align: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    color: rgb(0, 0, 71);
}